<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Responsive Registration Form</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Regisztráció</h1>
      <form action="#">
        <div class="main-user-info">
          <div class="txt_field">
            <input type="text" id="fullName" name="fullName" required/>
            <span></span>
            <label for="fullName">Teljes Név</label>
            
          </div>
          <div class="txt_field">
            <input type="text" id="username" name="username" required/>
            <span></span>
            <label for="username">Felhasználónév</label>
          </div>
          <div class="txt_field">
            <input type="email" id="email" name="email" required/>
            <span></span>
            <label for="email">Email</label>
          </div>
          <div class="txt_field">
            <input type="text" id="phoneNumber" name="phoneNumber" required/>
            <span></span>
            <label for="phoneNumber">Telefonszám</label>
          </div>
          <div class="txt_field">
            <input type="password" id="password" name="password" required/>
            <span></span>
            <label for="password">Jelszó</label>
          </div>
          <div class="txt_field ">
            <input type="password" id="confirmPassword" name="confirmPassword" required/>
            <span></span>
            <label for="confirmPassword">Jelszó megerősítése</label>
          </div>
          <div class="txt_field">
            <input type="text" id="postalcode" name="postalcode" required/>
            <span></span>
            <label for="postalcode">Irányítószám</label>
          </div>
          <div class="txt_field">
            <input type="text" id="city" name="city" required/>
            <span></span>
            <label for="city">Település</label>
          </div>
          <div class="txt_field">
            <input type="text" id="street" name="street" required/>
            <span></span>
            <label for="street">Utca</label>
          </div>
          <div class="txt_field">
            <input type="text" id="streetnumber" name="streetnumber" required/>
            <span>  </span>
            <label for="streetnumber">Házszám</label>
          </div>
        </div>
          <input type="submit" value="Regisztráció">
      </form>
    </div>
  </body>
</html>